body {
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    background-color: gainsboro;
    color: black;
    display: block;
}

header {
    /*background-color: #990000;*/
    background-color: #a6a6a6;
    /*display: inline;
    position: relative;*/
}

header h1 {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 900;
    font-size: 2em;
    margin-left: 1.5em;
}

header h2 {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 1.5em;
}

nav {
    display: inline-block;
    text-align: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: inline;
    /*margin: 0;
    padding: 0;*/
}



nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 900;
    display: inline-block;
    padding: 1px;
    color: darkgreen;
    text-decoration: none;
}

nav ul li a:hover {
    color: lightgreen;
}


